
<div class="row">
    <div class="col-md-12">
        <h2>Environments</h2>
    </div>
</div>

<div class="row">
    <button type="submit" class="btn btn-primary btn-sm" ng-click="refreshAction()">Refresh</button>
    <br>
    <br>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row" ng-repeat="environment in landingSvc.searchResponse">
            <div class="row" style="margin-bottom: 6px;">
                <div class="col-md-12" style="background: #AAA;">
                    <h3>{{environment.name}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">ELB</div>
                        <div class="panel-body" style="min-height: 100px;">
                            <div ng-repeat="stackStatus in environment.elbStatusList">
                                <b>Status:</b> <span class="label label-default">{{stackStatus.status}}</span> <span class="label label-default">{{stackStatus.statusReason}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Live</div>
                        <div class="panel-body">
                            <a href="{{environment.liveURL}}">{{environment.liveURL}}</a><br>
                            <div ng-repeat="stackStatus in environment.liveStatusList">
                                <b>Status:</b> <span class="label label-default">{{stackStatus.version}}</span> <span class="label label-default">{{stackStatus.status}}</span> <span class="label label-default">{{stackStatus.statusReason}}</span>
                            </div>
                        </div>
                        <div class="panel-footer"><button type="submit" class="btn btn-primary btn-xs" ng-click="">Get Logs</button></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Staging</div>
                        <div class="panel-body">
                            <a href="{{environment.stageURL}}">{{environment.stageURL}}</a><br>
                            <div ng-repeat="stackStatus in environment.stageStatusList">
                                <b>Status:</b> <span class="label label-default">{{stackStatus.version}}</span> <span class="label label-default">{{stackStatus.status}}</span> <span class="label label-default">{{stackStatus.statusReason}}</span>
                            </div>
                        </div>
                        <div class="panel-footer"><button type="submit" class="btn btn-primary btn-xs" ng-click="">Get Logs</button></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Database</div>
                        <div class="panel-body">
                            <div ng-repeat="stackStatus in environment.databaseStatusList">
                                <b>Status:</b> <span class="label label-default">{{stackStatus.status}}</span> <span class="label label-default">{{stackStatus.statusReason}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




