<!DOCTYPE html>
<html  xmlns:ng="http://angularjs.org" xmlns:th="http://www.thymeleaf.org" id="ng-app" ng-app="myApp" lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="The New Zealand Threat Classification System"/>
    <meta name="author" content="Department of Conservation"/>

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link rel="shortcut icon" href="favicon.ico"/>

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link th:href="'/resources/' + ${version} + '/bower_components/bootstrap/dist/css/bootstrap.min.css'" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="'/resources/' + ${version} + '/css/app.css'" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="" href="/"><img alt="NZTCS" src="img/SampleLogo.png"></img></a> <!-- closing img tag not strictly html standard, but Thymeleaf insists on it because ThymeLeaf is XML orientated -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" ng-controller="MenuCtrl">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ng-class="{ active: isActive('/landing')}"><a href="#">Overview</a></li>
                <li ng-class="{ active: isActive('/contact')}"><a href="#/contact">Contact</a></li>
                <li ng-class="{ active: isActive('/person')}"> <a href="#/person/search">People</a></li>
                <li class=""><a href="{{publicAccessURL}}">Public Access</a></li>
                <li class=""><a href="{{secureLoginURL}}">Login</a></li>
            </ul>
            <div class="version">
                <p th:text="'Version: ' + ${version}">Version: ${version}</p>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div ng-view=""></div>

        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="'/resources/' + ${version} + '/bower_components/jquery/dist/jquery.min.js'"></script>
<script th:src="'/resources/' + ${version} + '/bower_components/angular/angular.js'"></script>
<script th:src="'/resources/' + ${version} + '/bower_components/angular-bootstrap/ui-bootstrap-tpls.js'"></script>
<script th:src="'/resources/' + ${version} + '/bower_components/angular-route/angular-route.js'"></script>
<script th:src="'/resources/' + ${version} + '/bower_components/angular-resource/angular-resource.js'"></script>
<script th:src="'/resources/' + ${version} + '/bower_components/bootstrap/dist/js/bootstrap.min.js'"></script>
<script th:src="'/resources/' + ${version} + '/js/app.js'" ></script>
<script th:src="'/resources/' + ${version} + '/js/services.js'" ></script>
<script th:src="'/resources/' + ${version} + '/js/controllers.js'" ></script>
<script th:src="'/resources/' + ${version} + '/js/filters.js'" ></script>
<script th:src="'/resources/' + ${version} + '/js/directives.js'" ></script>
</body>
</html>
